<!--templates/edit-beans.html-->
{% extends 'base.html' %} {% block content %}
<form method="POST" action="/coffee_beans/{{ bean_detail._id }}/edit">
  <fieldset>
    <legend style="color:cornsilk; text-align: center">Edit Information</legend>
    <!--Title -->
    <p>
      <label for="name">Title</label><br />
      <input
        name="name"
        type="text"
        name="title"
        value="{{ bean_detail.name }}"
      />
    </p>
    <!--Description of Coffee Beans -->
    <p>
      <label for="location">Location: </label><br />
      <input
        name="location"
        type="text"
        name="description"
        value="{{ bean_detail.location }}"
      />
      <label for="smell">Smell: </label><br />
      <input
        name="smell"
        type="text"
        name="description"
        value="{{ bean_detail.smell }}"
      />
      <label for="taste">Taste: </label><br />
      <input
        name="taste"
        type="text"
        name="description"
        value="{{ bean_detail.taste }}"
      />
    </p>
    <!--Button for Submit-->
    <p>
      <button type="submit">Click here to Edit</button>
    </p>
  </fieldset>
</form>

{% endblock %}
