<!--templates/homepage.html-->

{% extends 'base.html' %}

{% block content %}
<h1 style="text-align: center;">Welcome to Yo Beanz!</h1>
<div class="container">
    <p>We are an online store dedicated to selling coffee beans and products from around the world for an affordable price.</p>
    <div class="display">
        <h2 style="text-align: center;">Coffee Beans</h2>
        <p>Below are just a few of the coffee beans we have for sale.</p>
        
    
        {% for beans in coffee_beans %}
            <li><a href="/coffee_beans/{{ beans._id }}">{{beans.name}}</a></li>
        {% endfor %}

    </div>
    <br>
    <div class="buttons">
        <a href="/new_beans">Add More!</a>
    </div>
</div>
{% endblock %}
