<!--templates/submit-new.html-->
{% extends 'base.html' %} 

<!-- {% block content %}
<form method="POST" action="/beans">
  <fieldset>
    <legend>Add More Beans!</legend>
    <!--Title of Form-->
    <p>
      <label for="bean-name">Name</label>
      <input type="text" id="bean-name" />
    </p>
    <!--Description-->
    <p>
      <label for="location">Location</label>
      <input type="text" id="location" />

      <label for="smell">Smell</label>
      <input type="text" id="smell" />

      <label for="taste">Taste</label>
      <input type="text" id="taste" />
    </p>
  </fieldset>

  <!--Submit-->
  <p>
      <button type="submit">Submit</button>
  </p>
</form>
{% endblock %} -->
