<!--templates/submit-new.html-->
{% extends 'base.html' %} 

{% block content %}
<form method="POST" action="/beans">
  <fieldset>
    <legend style="color: cornsilk;">Add More Beans!</legend>
    <!--Title of Form-->
    <p style="font-size: 25px;">
      <label for="name">Name</label>
      <input type="text" name="name" />
    </p>
    <!--Description-->
    <p style="font-size: 25px>
      <label for="location">Location</label>
      <input type="text" name="location" />

      <label for="smell">Smell</label>
      <input type="text" name="smell" />

      <label for="taste">Taste</label>
      <input type="text" name="taste" />
    </p>
  </fieldset>

  <!--Submit-->
  <p>
      <button type="submit">Submit</button>
  </p>
</form>
{% endblock %} -->
